<div id="<%= dom_id blog %>">
  <h3>
    <%= link_to "#{blog.name} (#{blog.posts.count} posts)", edit_blog_path(blog) %>
  </h3>


  <% blog.posts.each do |post| %>
  <ul>
    <li><%= render post, blog: blog %>
  </ul>
  <% end %>

  <div class="text-right">
    <%= link_to "➕ Add Post for #{blog.name}", new_blog_post_path(blog) %>
  </div>

  <hr/>

</div>
